#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  border: 5px solid rgb(0, 69, 152);
  border-radius: .5em;
  background-color: rgb(254, 254, 254);
  color: black;
  width: 900px;
}

.logo {
  position: relative;
  top: 15px;
}

.navBar {
  position: relative;
  font-weight: bold;
  font-size: x-large;
  color: aliceblue;
  background: rgb(0, 69, 152);
}

button {
  background-color: rgb(0, 69, 152);
  border: none;
  color: aliceblue;
  padding: 5px 10px;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 1px 0 black;
}

button:hover {
  cursor: pointer;
  text-shadow: -0.75px 0 rgb(255, 97, 97), 0 0.75px rgb(255, 97, 97), 0.75px 0 rgb(255, 97, 97), 0 -0.75px rgb(255, 97, 97);
}

table {
  width: 100%;
}
.Info {
  position: relative;
  background-color: rgb(0, 69, 152);
  border: 5px solid rgb(0, 69, 152);
  padding-bottom: 1rem;
  font-size: large;
  color: aliceblue;
  font-weight:bolder;
}

.GiftsElfPic {
  height: 250px;
  float: inline-start;
}