#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: aliceblue;
  color: black;
  width: 1000px;
  height: 1000px;
}

.navBar {
  border: 3px solid blue;
  border-radius: .5em;
  background-color: red;
  color: whitesmoke;
  font-size: larger;
}