#root {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.App {
  position: relative;
  top: 25px;
  border: 5px solid rgb(0, 69, 152);
  border-radius: .5em;
  background-color: rgb(254, 254, 254);
  color: black;
  max-width: 53.5rem;
}

.logo {
  position: relative;
  top: 15px;
}

.navBar {
  position: relative;
  font-weight: bold;
  font-size: x-large;
  color: aliceblue;
  background: rgb(0, 69, 152);
  top: -7px;
}

button, input[type=submit] {
  background-color: rgb(0, 69, 152);
  border: none;
  color: aliceblue;
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 1px 0 black;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
  text-shadow: -0.75px 0 rgb(255, 97, 97), 0 0.75px rgb(255, 97, 97), 0.75px 0 rgb(255, 97, 97), 0 -0.75px rgb(255, 97, 97);
}

table {
  width: 100%;
}

.Info {
  position: relative;
  top: 20px;
  background-color: rgb(0, 69, 152);
  padding: 5px;
  font-size: large;
  color: aliceblue;
  font-weight:bolder;
}

.sup {
  font-size: 65%;
  vertical-align: super;
}

.GiftsElfPic {
  position: relative;
  left: 25px;
  top: 35px;
  height: 300px;
}

.carouselBox {
  position: relative;
  height: 22rem;
  left: 28%;
  display: flex;
  align-self: center;
}
.carousel {
  background: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 40%;
  position: relative;
  float: left;
}

.carouselImg {
  height: 22rem;;
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carouselNext {
  position: relative;
  float: left;
  height: 100%;
}
.carouselPrev {
  position: relative;
  float: left;
  height: 100%;
  z-index: 1;
}

input[type=text], input[type=email], input[type=tel], input[type=number], select {
  background-color: rgba(229, 242, 254, 0.521);
  border: 1px solid rgb(0, 0, 0);
  border-radius: .5em;
  width: 400px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

input[type=number] {
  background-color: rgba(229, 242, 254, 0.521);
  border: 1px solid rgb(0, 0, 0);
  border-radius: .5em;
  width: 100px;
  padding: 10px;
  margin: 5px;
}

input[type=radio] {
  position: relative;
  float: left;
}

textarea {
  background-color: rgba(229, 242, 254, 0.521);
  border: 1px solid rgb(0, 0, 0);
  border-radius: .5em;
  width: 400px;
  height: 100px;
  padding: 10px;
  margin: 5px;
  resize: none;
}

select {
  background-color: rgba(229, 242, 254, 0.521);
  border: 1px solid rgb(0, 0, 0);
  border-radius: .5em;
  width: 55px;
  padding: 5px;
  margin: 5px;
}

#zip, #billzip, #shipzip {
  width: 100px;
}

.requestForm {
  display: flex;
  justify-content: center;
}

label {
  display: flex;
}

/* .howContainer, .giftContainer, .homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.WorksElfPic {
  max-width: min-content;
}